:root{
    /*Colors*/
    --black-color:#2A2438;
    --grey-color:#352F44;
    --blue-color:#5c5470;
    --light-blue-color:#DBd8e3;
    --white-color:#fff;
     /*fonts*/
     --body-font: sans-serif;
     --body-font-size: 15px;
     --label-font-size:18px;
     --body-line-height: 1.5;
     --title-font-size: 2.55rem;
      /*font-weights*/
      --font-h: 800;
      --font-m: 600;
       /*letter spaciong*/
    --letter-1:1px;
    /*z-index*/
    --z-index:100;
    /*tansition*/
    --tran-03:  0.3s ease all;
}
/*base*/
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    background-color: var(--black-color);
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}
.title{
    text-align: center;
    font-size: var(--title-font-size);
    padding: 10px;
    margin-bottom: 20px 0;
    color: var(--white-color);
    font-weight: var(--font-m);
}
.form-palindrome{
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(100vh,450px);
    min-height: 100px;
    background-color: var(--light-blue-color);
    border-radius: 20px;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 2px 8px 0 2px 8px rgba(0, 0, 0, 0.175);
}
label{
    color: var(--blue-color);
    margin-bottom: 20px;
    font-size: var(--label-font-size);
    font-weight: var(--font-m);
}
.palindrome-input{
    border:none;
    text-align: center;
    font-size: var(--label-font-size);
    margin: 10px;
    width: 250px;
    height: 30px;
    border-bottom: 2px solid var(--black-color);
    background-color: var(--light-blue-color);
}
.palindron-btn{
cursor:pointer;
color: var(--light-blue-color);
background-color: var(--black-color);
border-radius: .5rem;
padding: 1rem 1rem;
text-decoration: none;
margin-left: 15px;
display: flex;
gap: .75rem;
align-items: center;
}
.palindron-btn:hover{
    background-color: var(--grey-color);
}